@import './variables';
@import './_resets';

body{
    background-image: $bacground-img;
    background-repeat: no-repeat;
}
.pagination {
    display: inline-block;
    direction: ltr;
    margin-top: 40%;
    margin-right: 30%;
  }
  
  .pagination a {
    font-size: $font-size;
    color: $text-color;
    float: left;
    padding: 8px 16px;
    border-radius: 25%;
    text-decoration: none;
  }
  
  .pagination a:hover:not(.active) {background-color: $hover-color;}

  .text{
    text-align: center;
    justify-content: center;
    color: $text-color;
    font-size: $font-size - 1rem;
    line-height: 1.8;
  }

  .favicon-change-color{
    margin-top: 25%;
    text-align: center;
    justify-content: center;
    font-size: $font-size;
    background-color: aliceblue;
    opacity: 0.7;
     button{
      width: $box-size-width;
      height: $box-size-height;
      margin-bottom: 1%;
     }
  }

  .password-place{
    margin-top: 25%;
    text-align: center;
    justify-content: center;
    font-size: $font-size;
    background-color: aliceblue;
    opacity: 0.7;

    #eye-slash{
      display: none;
    }
  }