* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../SRC/James-Webb-space-telescope.jpg);
  background-repeat: no-repeat;
}

.pagination {
  display: inline-block;
  direction: ltr;
  margin-top: 40%;
  margin-right: 30%;
}

.pagination a {
  font-size: 3rem;
  color: #00ff62;
  float: left;
  padding: 8px 16px;
  border-radius: 25%;
  text-decoration: none;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.text {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #00ff62;
  font-size: 2rem;
  line-height: 1.8;
}

.favicon-change-color {
  margin-top: 25%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  background-color: aliceblue;
  opacity: 0.7;
}

.favicon-change-color button {
  width: 8rem;
  height: 2rem;
  margin-bottom: 1%;
}

.password-place {
  margin-top: 25%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  background-color: aliceblue;
  opacity: 0.7;
}

.password-place #eye-slash {
  display: none;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0;
  right: 0;
}

.navbar ul li {
  background-color: aliceblue;
  opacity: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  font-size: 2rem;
  width: 150px;
  height: 200%;
  cursor: pointer;
}

.navbar ul li.active {
  background: #9eb619;
}

.active-text {
  margin-top: 25%;
  font-size: 3rem;
  text-align: center;
  background-color: aliceblue;
  opacity: 0.7;
}

.search {
  margin-top: 25%;
  background-color: aliceblue;
  opacity: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: gold;
  width: 50px;
  height: 50px;
}

.search #search-icon {
  color: black;
  font-size: 3rem;
}

.search-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.search-overlay.active {
  opacity: 1;
  visibility: visible;
}

.search-popup {
  opacity: 0;
  visibility: hidden;
  background-color: aliceblue;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.search-popup .form-group {
  width: 100%;
  position: relative;
}

.search-popup input {
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px 0 90px;
}

.search-popup .submit-btn {
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 60px;
  background: #222;
  border: none;
  color: white;
  border-radius: 30px 0 0 30px;
  cursor: pointer;
  font-size: 1rem;
}

.search-popup.active {
  opacity: 1;
  visibility: visible;
}

.container {
  width: 700px;
  margin-top: 25%;
  margin-left: 25%;
}

.container .accordion {
  background: #01ff95;
  font-size: 1rem;
  padding: 10px;
  color: black;
}

.container .accordion-title {
  background: #01ff95;
  font-size: 1rem;
  padding: 10px;
  color: black;
  border: 2px solid black;
  cursor: pointer;
}

.container .accordion-title::before {
  content: '+';
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

.container .accordion-title.active::before {
  content: '-';
}

.container .accordio-content {
  background: rgba(29, 202, 107, 0.568);
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
/*# sourceMappingURL=main.css.map */